# Postgres (Neon en producción)
DATABASE_URL="postgres://user:pass@host/db?sslmode=require"
# Secreto para firmar sesiones (>=32 chars aleatorios)
SESSION_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
# URL pública base para los QR
NEXT_PUBLIC_APP_URL="http://localhost:3000"
